.container{
    width: 1920px;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 50px;
}

.titulo{
    font-weight: bold;
    font-size: 35px;
}

.destaques{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
}

.btn-anterior{
    font-size: 50px;
}

.btn-anterior:hover{
    transform: scale(1.25);
    transition: 1s ease;
}

.btn-proximo{
    font-size: 50px
}

.btn-proximo:hover{
    transform: scale(1.25);
    transition: 1s ease;
}

.img-destaque:hover{
    transform: scale(1.1);
    transition: 1s ease;
}

.img-destaque{
    border-radius: 7.5px;
}