.opcoes{
    width: 1920px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.titulo{
    font-weight: bold;
    font-size: 35px;
}

.btns{
    gap: 10px;
}

.btn-anterior{
font-size: 50px;
}

.btn-proximo{
    font-size: 50px;
}