.container{
    width: 1920px;
    height: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo{
font-weight: bold;
    font-size: 35px;
    margin-top: 50px;
}

.opcoes-principais{
    display: flex;
    flex-direction: row;
    width: 1200px;
    justify-content: center;
    align-items: center;
    gap: 75px;
    margin: 50px;
    flex-wrap: wrap;
}

.peça{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 225px;
    height: 400px;
}

.precos{
font-size: 17px;
}

.nome{
    font-weight: bolder;
    font-size: 20px;
}

.tamanhos{
    display: flex;
    gap: 10px;
    margin: 5px;
}

.btn-pp{
    font-size: 12.5px;
border-radius: 5px;
border: 1px solid black;
background-color: white;
}

.btn-p{
    font-size: 12.5px;
border-radius: 5px;
border: 1px solid black;
background-color: white;
}

.btn-pp{
    font-size: 12.5px;
border-radius: 5px;
border: 1px solid black;
background-color: white;
}

.btn-m{
    font-size: 12.5px;
border-radius: 5px;
border: 1px solid black;
background-color: white;
}

.btn-g{
    font-size: 12.5px;
border-radius: 5px;
border: 1px solid black;
background-color: white;
}

.btn-gg{
    font-size: 12.5px;
border-radius: 5px;
border: 1px solid black;
background-color: white;
}

.adicionar{
    border-radius: 5px;
border: 1px solid black;
background-color: #ffcfb3;
margin: 15px;
width: 150px;
font-size: 12.5px;
}